html{
    font-family: arial, sans-serif;
    background-color: black;
    color: white
}

body {
    width: 1310px;
    margin: 0 auto;
    text-transform: uppercase;
}

/* Header */

header {
    width: 1310px;
    height: 90px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    color: #007d7b;
    float: left;
}

/* Nav */
nav { 
    position: relative;
    float: right;
    top: 20px;
}

ul {
    list-style: none;
}

li {
    font-size: 20px;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    margin-right: 32px;
}

nav :last-child {
    margin-left: 0;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

a:hover, a:focus{
    color: #007d7b;
}

[href="#top"] {
    background-color: #007d7b;
    position: fixed;
    width: 85px;
    bottom: 0;
    right: 0;
    z-index: 100;
}

[href="#top"]:hover, [href="#top"]:focus {
    background-color: #FFFFFF;
}

[href="top"]:focus {
    border: 2px solid #007d7b;
}

/* Common */

h2 {
    font-size: 40px;
    margin: 0;
}

section {
    max-width: 1310px;
    margin: 0;
    padding: 0;
}

p {
    text-transform: none;
    font-size: 20px;
    margin: 0;
}

/* Table */

table * {
    padding: 0;
    margin: 0;
}

table {
    padding: 0 5px;
}

th {
    text-align: left;
    text-transform: none;
    padding-left: 15px;
    font-size: 20px;
    font-weight: normal;
    color: black;
}

tbody *{
    color: white;
}

td {
    position: relative;
    padding: 5px;
    margin: 0;
}

/* About Section */

#about, #gallery {
    background-color: #FFFFFF;
    color: black;
}

#about * {
    color: black;
    text-align: right;
}

#about img {
    width: 850px;
    height: 186px;
}

#about tr :nth-child(2) {
    position: relative;
}

#about h2 {
    padding-right: 16px;
}

#about p {
    padding-top: 20px;
    padding-right: 16px;
}

/* Gallery Section */

#gallery h2 {
    margin-left: 20px;
}

th{
    color: black;
}

td img {
    width: 420px;
    height: 281px;
    margin: 0;
    padding: 0;
}

.tall img{
    height: 630px;
}

#gallery td p {
    display: block;
    position: absolute;
    z-index: 100;
    font-size: 16px;
    text-transform: uppercase;
}

.dark {
    color: black;
}

.top-left {
    top: 10px;
    left: 10px;
}

.bottom-left {
    bottom: 20px;
    left: 10px;
}

.bottom-right {
    bottom: 20px;
    right: 32px;
}

/* Contact */
#contact{
    width: 850px;
    margin: 16px auto;
    text-align: center;
}

#contact p {
    font-weight: bold;
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 16px;
}

form label, form input {
    font-size: 16px;
}

input {
    text-transform: uppercase;
}

/* Input Boxes */
input {
    margin: 8px 0;
}

[type="text"], [type="email"]{
    color: #007d7b;
    font-weight: bold;
    height: 2em;
}

/* Submit Button */
[type="submit"]{
    color: #FFFFFF;
    width: 425px;
    height: 55px;
    margin: 10px auto;
    background-color:#007d7b;   
    border: none;
    border-radius: 16px;
    font-weight: bold;
}

[type="submit"]:hover {
    color:#007d7b;
    background-color: #FFFFFF;
}

[type="submit"]:focus {
    border: 2px solid #007d7b;
}

/* Footer */

footer p{
    padding: 20px;
    text-transform: uppercase;   
    text-align: center;
}